.contact {
    display: flex;
    flex-direction: column;

    &__email {
        font-size: 1.1rem;
        color: #4C5C68;
        font-weight: 600;
        margin: 0 0 1rem auto;

        @include respond-to(phone) {
            font-size: 0.9rem;
        }
    }

    &__phone {
        font-size: 1.2rem;
        color: #4C5C68;
        margin-left: auto;
        font-weight: 600;


        @include respond-to(phone) {
            font-size: 1.1rem;
            margin-right: 3rem;
        }
    }
}

