.tags {
    display: flex;


	@include respond-to(phone) {
        margin-top: 2rem;
        flex-wrap: wrap;
    }

    .tag {
        font-size: 1rem;
        margin: 1rem;

        &:hover {
            cursor: pointer;
            padding: 0.6rem 0.8rem;
            transition: ease-in;
            border-radius: 2rem;
            -webkit-box-shadow: 4px 3px 17px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 4px 3px 17px 0px rgba(0,0,0,0.75);
            box-shadow: 4px 3px 17px 0px rgba(0,0,0,0.75);
        }
    }

}